<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/app/assets/stylesheets/posts.scss">
    <title>Titel</title>
  </head>
  <body>
    <button id="home_button" type="home_button">Home</button>
    <button id="profile_button" type="profile_button">Profile</button>
    <button id="logout_button" type="logout_button">Logout</button>

    <div class="line-separator"></div>
  </body>
</html>
